
{% extends "layout.twig" %}

{% block content %}

  <header class="bk-header wrapper">
      <div class="companyheader wrapper">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
          	{{widget('extendednavigation', 'navigationheader', {})|raw}}
       </div>
  </header>

<div class="textbox wrapper">
    <span>{{widget('content', 'textwidgetbox1', {content: '<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</h4>', lines: 'all'})|raw}}</span>
</div> 

<div class="wrapper">
		{{zone('main')|raw}}
</div>

<footer class="bk-footer">
	<div class="footer-border companyheader">
		{{widget('profile', 'socialicons', { 'profileType':'socialicons', 'socialicons':'profile', 'refreshtime':'1800000'})|raw}}
	</div>
</footer>

{% endblock %}